$primary-color: #007bff;
$secondary-color: #28a745;

:root {
    --primary-color: #007bff;
    --secondary-color: #28a745;
    --font-family: 'Inter', sans-serif;
    --background-color: #f8f9fa;
    --text-color: #333;
    --button-background-color: #007bff;
    --button-hover-color: darken(#007bff, 10%);
    --transition-duration: 0.5s;
    --navbar-text-color: #333;
}

[data-theme='dark'] {
    --background-color: #333;
    --text-color: #f8f9fa;
    --button-background-color: #444;
    --button-hover-color: darken(#444, 10%);
    --navbar-text-color: #f8f9fa;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration);
    min-width: 480px;
}

h1,
h2,
h3 {
    font-weight: bold;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

@font-face {
    font-family: 'CardCharacters'; /* you can name it anything */
    src: url('/fonts/CARDC___.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Toastify__toast--success {
    border: 3px solid #7d0200 !important;
    border-radius: 50px !important;
    background: #e7e4e4 !important;
    font-family: 'Rye', serif;
    color: rgb(55, 44, 44);
    width: fit-content;
}
.Toastify__toast--success::before {
    position: relative;
    z-index: 100000;
    left: 12px;
    top: 6px;
}
.Toastify__toast--success::after {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    left: 265px;
    padding-top: 14px !important;
}
.Toastify__toast-body {
    font-size: 16px;
    padding-left: 20px;
    line-height: 20px;
    padding: 0px;
    padding-top: 25px;
    width: 100%;
    font-weight: 400;
    margin-left: 25px !important;
    font-family: 'Rye', serif;
}
.Toastify__toast > button > svg {
    display: none;
}
