.home {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    column-gap: 50px;

    @media (max-width: 650px) {
        flex-direction: column;
        row-gap: 50px;
    }
}
