.home {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    height: 100vh;

    @media (max-width: 650px) {
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        justify-content: start;
    }
}
