.joinForm {
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        border: none;
        font-family: 'CardCharacters', sans-serif;
        font-size: 40px;
        width: 220px;
        text-align: center;
        color: #a43838;
        outline: 5px solid #a43838;
        padding: 10px 15px;
    }

    input::placeholder {
        color: rgb(156, 156, 156);
        font-weight: normal;
        font-size: 30px;
    }
}
