.start {
    &:hover {
        background-color: #e1ffdd;
    }
}

[data-theme='dark'] .start {
    color: white;
    border: 1px solid #ccc;

    &:hover {
        background-color: #767f74;
    }
}
