.navbar {
    background-color: var(--background-color);
    color: var(--navbar-text-color);
    padding: 0 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        background-color var(--transition-duration),
        color var(--transition-duration);
    display: flex;
    align-items: center;

    .container {
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
    .container > :nth-child(1) {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .container > :nth-child(2) {
        flex: 0;
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;

        .brand {
            width: 300px;
            height: auto;
        }
    }

    .switch {
        padding-right: 20px;
    }
}

@media (max-width: 650px) {
    .link {
        display: none;
    }
}
